@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
  margin: 0;
  padding: 0;
  background: #c0d6df;
  color: #114663;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
}

body {
  margin: 40px 0;
}

.game p {
  margin: 40px;
}

.square {
  background: #aaa;
  border: none;
  border-radius: 5px;
  margin: 4px;
  float: left;
  height: 64px;
  padding: 0;
  text-align: center;
  width: 64px;
  transition: all 0.1s;
}

.active {
  background: #ffc;
  box-shadow: inset 0 0 16px 16px #ff6,
              0 0 6px #ffc;
}


.board-row {
  margin: auto;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.board {
  clear: both;
  width: 360px;
  height: 360px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 5px;
  background: #4f6d7a;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.game-won {
  width: 370px;
  height: 340px;
  border-radius: 5px;
  background: rgba(10,10,10,0.5);
  margin: 0 auto;
  position: absolute;
  top: 185px;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-won p {
  width: 100%;
  text-align: center;
  font-size: 36pt;
  color: #f4f7f7;
  
}

#new_game {
  font-size: 24pt;
  border: none;
  border-radius: 5px;
  padding: 20px 40px;

  color: #f4f7f7;
  background: #79a8a9;
}

#new_game:hover {
  background: #89b8b9;
}

.header {
  width: 80%;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



h1.title {
  font-variant: small-caps;
  font-size: 36pt;
  font-weight: bold;
}

.game-info h3 {
  font-weight: 500;
  font-size: .5em;
  line-height: 1em;
  margin: 0;
  padding: 0;
}

.game-info {
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  background: #4a6fa5;
  color: #dbe9ee;
  text-align: center;
  width: 120px;
  height: 70px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#root {
  width: 550px;
  margin: auto;
  border-radius: 5px;
  padding: 5px;
  background: #dbe9ee;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}